version: '3.8'

services:
  server:
    build: ./server
    ports:
      - "4000:4000"
    container_name: clarke-server
    restart: always

  client:
    build: ./client
    ports:
      - "5173:80"
    container_name: clarke-client
    depends_on:
      - server
    restart: always